.booking-page {
  margin-top: 20px;
}
.booking-hotel-desc {
  padding: 10px;
  padding-left: 0;
  margin-bottom: 30px;
}
.booking-hotel-details {
  border-top: 4px solid #f5f3f1;
  padding-top: 30px;
  padding-bottom: 30px;
}
.room-type-title {
  width: 100%;
  background-color: #f4f4f4;
  padding-left: 5px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 0;
}

