.widget_customsearch {
  margin-top: 30px;
}
input,
.guest-detail {
  border: 1px solid #fa8c24;
  padding: 10px;
  width: 100%;
}
label {
  font-weight: bold;
}
.searchbox-title {
  color: #fa8c24;
}
.full {
  margin-left: 5px;
  width: 65%;
  float: right;
}
.date-input {
  margin-left: 2px;
}
.quantity {
  font-weight: 700;
  margin-left: -3px;
}
.quantity-select {
  margin-right: 2px;
}
.choice-label {
  width: 60%;
}
.btn-custom {
  color: #fff !important;
  background-color: #fa8c24!important;
}
#guest-form {
  display: none;
}
.btn-availability {
  height: 46px;
  margin-top: 7px;
}
.guest-detail {
  display: flex;
  justify-content: space-around;
}
i.icons {
  display: flex;
  align-items: center;
}
.passenger-form-wrapper {
  margin-top: 15px;
}
.age-group {
  padding-left: 0;
  list-style: none;
  & li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
.g-num {
  width: 40px;
  margin: 0 10px;
  text-align: center;
  & input {
    width: 40px;
    text-align: center;
  }
}
.age-name {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.pas-class {
  width: 100%;
}
