.after-search.visible {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  padding-top: 30px;
}
.step {
  color: #fa8c24;
  font-weight: 700;
}
.panel-heading {
  background-color: #efefef;
}
.panel-body {
  display: flex;
}
.panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 15px;
}
.img-open {
  display: none;
}
.info-icon {
  width: 25px;
}
.results-inner {
  margin-bottom: 10px;
}
.results-title,
.room-check,
.results-child,
.results-cancel,
.results-price,
.results-breakfast {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-order {
  width: 100%;
}


@media(max-width: 578px) {
  .panel-body {
    flex-direction: column;
  }
}
